<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Whisper_edit</title>
    <link href="/assets/normalize.css" rel="stylesheet">
    <link href="/assets/new.scss" rel="stylesheet">
  </head>
  <body>
    <div class="contents_wrapper">
      <header>
        <%= render 'header' %>
      </header>
      <div>
       <%= render 'form' %>
        <footer>
          <%= render 'footer' %>
        </footer>
      </div>
    </div>
  </body>
</html>