@charset "utf-8";
html {
  font-size: 62.5%;
  height: 100%;
}
h1,h2,h3 {
  font-size: 100%;
}
.contents_wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
}
// headerここから
header {
  width: 100%;
  height: 480px;
}
.header_nav {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, rgb(120, 179, 125) 20%, #fff 60%);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
}
.logo_image {
  width: 130px;
  height: 80px;
}
.bench_area {
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.bench_image {
  width: 100%;
  height: 400px;
}
header ul {
  display: flex;
  align-items: stretch;
}
header ul a {
  font-size: 2rem;
  color: rgb(120, 179, 125) ;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
// headerここまで
// main_wrapperここから
.main_wrapper {
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
}
.today_picture_container{
  width: 60%;
}
.duck_image {
  width: 100%;
}
.introduce_picture {
  font-size: 4rem;
  color: rgb(102, 196, 172);
  text-shadow: 2px 2px #439769;
  font-family: monospace;
  margin-bottom: 10px;
  text-align: center;
}
.writer_comment_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  background: linear-gradient(90deg, rgb(120, 179, 125) 30%, rgb(180, 241, 183) 70%);
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(16, 70, 16, 0.3);
  margin-bottom: 10px;
}
.comment_title_area {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  margin: 30px 0;
}
.comment_title_area p {
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: rgb(10, 105, 30);
}
.comment_phrase_area{
  width: 60%;
  min-height: 50px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}
.comment_phrase_area p{
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  line-height: 50px;
}
// main_wrapperここまで
// whisper_wrapperここから
.whisper_wrapper {
  width: 35%;
  height: 600px;
  margin-top: 10px;
  margin: 10px auto;
  padding: 5px;
  color: #666666; /*文字色*/
  border: 3px solid #69ac72; /*線の太さ・色*/
  background-color: #fff; /*背景色*/
  box-shadow: 5px 5px 0px 0px rgba(16, 70, 16, 0.3);
  border-radius: 20px; /*角の丸み*/
}
.whisper_title {
  width: 100%;
  height: 30px;
  text-align: center;
}
.whisper_title p {
  font-size: 3rem;
  color: rgb(102, 196, 172);
  text-shadow: 2px 2px #439769;
  font-family: monospace;
  text-decoration: underline;;
  margin: 10px 0;
}
.whisper_list {
  width: 95%;
  height: 520px;
  border: dotted 3px #439769;
  border-radius: 10px;
  margin: 15px 0px 10px 5px;
  overflow: scroll;
  padding: 10px;
}
.whisper_list a {
  text-decoration: none;
  color: #666666;
  padding-left: 15px;
}
.whisper_content {
  font-size: 1.3rem;
}
// whisper_wrapperここまで
// hooterここから
footer {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, #fff 20%, rgb(120, 179, 125) 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  line-height: 100%;
}
footer p {
  font-size: 1.5rem;
  color: rgb(9, 53, 43);
  text-shadow: 2px 2px #439769;
}
// hooterここまで