@charset "utf-8";
html {
  font-size: 62.5%;
  height: 100%;
}
h1,h2,h3 {
  font-size: 100%;
}
// headerここから
header {
  width: 100%;
  height: 80px;
}
.header_nav {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, rgb(120, 179, 125) 20%, #fff 60%);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
}
.logo_image {
  width: 130px;
  height: 80px;
}
header ul {
  display: flex;
  align-items: stretch;
}
header ul a {
  font-size: 2rem;
  color: rgb(120, 179, 125) ;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
// headerここまで
// bodyここから
form {
  width: 100%;
}
.whisper_wrapper {
  width: 70%;
  height: 200px;
  border: 3px solid #69ac72; /*線の太さ・色*/
  background-color: #fff; /*背景色*/
  box-shadow: 5px 5px 0px 0px rgba(16, 70, 16, 0.3);
  border-radius: 20px; /*角の丸み*/
}
.field {
  text-align: center;
}
label {
  display: block;
  font-size: 2rem;
  line-height: 50%;
  margin: 20px;
}
textarea {
  width: 80%;
  height: 50px;
  font-size: 1.5rem;
}
.button_area {
  display: flex;
  justify-content: center;
}
.whisper_button, .back_button{
  margin: 0 5px;
  text-align: center;
}
input {
  margin-top: 15px;
  width: 60px;
  height: 30px;
}
// bodyここまで