<nav class="header_nav">
  <a href="#"><img class="logo_image" src="/assets/logo.png" alt="ロゴ"></a>
  <ul>
    <%= link_to 'トップページ', posts_path %>
    <%= link_to 'ささやく', new_post_path %>
  </ul>
</nav>